.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer h2 {
    margin-bottom: 10px;
    color: #0d6efd;
}

.footer p {
    margin: 10px 0;
}

.footer-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #0d6efd;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}